- @title = @service.title
- @description = @service.description
- @url = performer_service_url(@service)
- if (images = @service.images).count > 0
  - @images = images.map { |x| { url: x.file.url(:medium), width: 420, height: 560 } }
- @location = { lat: @service.lat, lng: @service.lng, address: @service.address, country: @service.country, postal_code: @service.postal_code }

- content_for :meta_tags do
  %meta{name: 'robots', content: 'index, follow'}
  %meta{name: 'googlebot', content: 'index, follow'}

- is_owner = @service.user == current_user

.container
  .panel.panel-default
    .panel-heading
      = link_to fa_icon('angle-double-left', text: t('common.back')), :back
    .panel-body
      .row
        .col-sm-6
          = render 'shared/slider', images: @service.images

        .col-sm-6
          .row
            .col-sm-7
              %h3.service-category.text-center.text-left-sm.no-top= @service.category
            .col-sm-5
              .service-score.text-center.text-right-sm{'data-score' => @service.rating}
          .row
            .col-xs-7
              %h4.service-price
                = price_with_unit(@service)
                %small= t('.tips_not_included')
            .col-xs-5.text-right
              -# unless is_owner
                -#= link_to t('common.book'), new_customer_booking_path(service_id: @service.id), class: 'btn btn-primary'
          .row
            .col-sm-12
              = @service.description
              %p
              .service-location
                %b #{t('common.location')}:
                %span= @service.address
              %br
              - if (performers = @service.performers).count > 0
                %h5= t('.performers')
                %ul.performers.list-unstyled
                  - performers.each do |performer|
                    %li.performer
                      .performer-avatar
                        = image_tag avatar_url(performer), alt: '', size: '48x48', class: 'round'
                      .performer-name
                        = link_to performer.perform_name, user_path(performer)
              .clearfix
              %br
              - if is_owner
                %ul.list-unstyled
                  %li= link_to fa_icon('pencil', text: t('.edit_service')), edit_performer_service_path(@service)
                  - if @service.open
                    %li= link_to fa_icon('lock', text: t('.close_service')), close_performer_service_path(@service)
                  - else
                    %li= link_to fa_icon('unlock', text: t('.open_service')), open_performer_service_path(@service)
      - video = @service.video
      - if video && video.link.present?
        %br
        .row
          .col-sm-12
            .embed-container
              = youtube_embed(video.link) if video.youtube?
              = vimeo_embed(video.link) if video.vimeo?

  - if (count = @testimonials.count) > 0
    - show_count = 5
    .panel.panel-default
      .panel-body
        .row
          .col-sm-10.col-sm-offset-1
            %h4.text-center= t('.feedback_received', count: count)
            #testimonials
              = render @testimonials[0..(show_count - 1)]
              - if count > show_count
                #testimonials-toggle.collapse
                  = render @testimonials[show_count..-1]
            - if count > show_count
              .text-right
                = link_to '#testimonials-toggle', data: { toggle: 'collapse' }, 'aria-expanded' => false do
                  %span.more= fa_icon 'angle-down', text: t('common.more')
                  %span.less= fa_icon 'angle-up', text: t('common.less')

  - if @similar_shows.count > 0
    .panel.panel-default
      .panel-body
        %h4.text-center= t('.you_might_like')
        .row
          .col-sm-10.col-sm-offset-1
            .thumbnail-grid-narrow
              .thumbnail-grid
                = render @similar_shows