- state = params[:bd].present? ? { state: 'dancer' } : {}

.row
  .col-sm-4.col-sm-offset-4
    .panel.panel-default
      .panel-heading
        = t('common.sign_up')
      .panel-body
        =# link_to fa_icon('instagram', text: t('common.instagram')), omniauth_authorize_path(:user, :instagram, state), class: 'btn btn-block btn-instagram text-uppercase'
        =# link_to fa_icon('facebook', text: t('common.facebook')), omniauth_authorize_path(:user, :facebook, state), class: 'btn btn-block btn-facebook text-uppercase'
        =# link_to fa_icon('google', text: t('common.google')), omniauth_authorize_path(:user, :google_oauth2, state), class: 'btn btn-block btn-google text-uppercase'
        =# link_to fa_icon('twitter', text: t('common.twitter')), omniauth_authorize_path(:user, :twitter, state), class: 'btn btn-block btn-twitter text-uppercase'

        .horizontal-line
          .inner or

        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal', 'data-parsley-validate' => true }) do |f|
          =# devise_error_messages!
          - if params[:bd].present?
            = f.hidden_field :role, value: 'dancer'
          = f.input :first_name, label: false, required: true, input_html: { 'data-parsley-maxlength' => 50 }
          = f.input :last_name, label: false, required: true, input_html: { 'data-parsley-maxlength' => 50 }
          = f.input :email, label: false, required: true, input_html: { data: { 'parsley-type' => :email, 'parsley-maxlength' => 50, 'parsley-remote' => check_email_api_users_path, 'parsley-remote-message' => t('activerecord.errors.models.user.attributes.email.taken') } }
          = f.input :password, label: false, required: true, input_html: { 'data-parsley-minlength' => 6 }
          = f.input :password_confirmation, label: false, required: true, input_html: { data: { 'parsley-minlength' => 6, 'parsley-equalto' => '#user_password' } }
          .form-group
            =# f.input :accept_terms, as: :boolean, label: t('common.accept_terms', link: link_to(t('common.terms_of_use_and_privacy'), page_path('terms-of-use', md: 1), data: { toggle: 'modal', target: '#common-modal' })).html_safe, required: true, input_html: { 'data-parsley-required-message' => I18n.t('activerecord.errors.models.user.attributes.accept_terms.blank') }
            %br
            %p.text-muted= fa_icon 'info-circle', text: t('common.agree_terms_conditions').html_safe
          .actions
            = f.submit t('common.sign_up'), class: 'btn btn-primary btn-block'
