- role ||= :user

Service Type: #{@service.title}

- if role == :performer
  %br
  Amount you will earn: #{number_to_currency(@booking.amount)}

%br
Date: #{datetime_format(@booking.start_at)}
%br
Time Start: #{time_format(@booking.start_at)}
%br
Hours: #{@booking.hours}
%br

- if role == :performer
  %br
  Customer Name: #{@address.full_name}
  %br
  Age: #{@address.age}

%br
Street Address: #{@address.full_address}
%br
City: #{@address.city}
%br
State: #{@address.state}
%br
Zip: #{@address.zipcode}
%br
Event Type: #{@booking.event_type}
%br
Venue Type: #{@booking.venue_type}
%br
Number of Guests: #{@booking.number_of_guests}

- if role == :performer
  %br
  Parking Instructions: #{@booking.parking_instructions}
  %br
  Entry Instructions: #{@booking.entry_instructions}
