%h4 Booking detail:
%p
  <b>Service:</b> #{link_to @service.title, service_url(@service)}
  %br
  <b>Price:</b> #{number_to_currency(@service.booking_price)} / hour
  %br
  <b>Start at:</b> #{datetime_format(@booking.start_at)}
  %br
  <b>End at:</b> #{datetime_format(@booking.end_at)}
  %br
  <b>Name of Customer:</b> #{@booking.user.name}
  %br
  <b>Address:</b> #{@booking.full_address}
  %br
  <b>Event type:</b> #{@booking.event_type}
  %br
  <b>Venue type:</b> #{@booking.venue_type}
  %br
  <b>Number of guests:</b> #{@booking.number_of_guests}
  %br
  <b>Parking Instructions:</b> #{@booking.parking_instructions}
  %br
  <b>Entry Instructions:</b> #{@booking.entry_instructions}
  %br