%p Congratulations #{@performer.perform_name},

%p payment completed successfully.
= render 'payment'

%p
  Fee(#{Setting.commission_from_seller}%): #{number_to_currency(@payment.fee)}
  %br
  Amount to you: #{number_to_currency(@payment.amount)}

%br
%p Love,