%h5= t('.performer_profile')
%hr
%h3= @profile.perform_name
%br
%ul.list-unstyled
  %li
    %b #{t('.height')}:
    %span= humanized_height(@profile.height)
  %li
    %b #{t('.body_type')}:
    %span= @profile.body_type
  %li
    %b #{t('.bust')}:
    %span= @profile.bust.humanize
  %li
    %b #{t('.ethnicity')}:
    %span= @profile.ethnicity.humanize
