.container
  .panel.panel-default
    .panel-body
      .row
        - if @user.profile.persisted?
          .col-sm-10.col-sm-offset-1.text-center
            %hr.invisible
            %p.alert.alert-success
              = t('.verification_in_progress')
            %br
            = link_to t('common.home'), root_path, class: 'btn btn-lg btn-primary'
            %hr.invisible
        - else
          .col-sm-9.col-sm-offset-1
            %h4= t('.complete_application')
            %p= t('.description')
            = simple_form_for @user, html: { class: 'form-horizontal', 'data-parsley-validate' => true } do |f|
              = render 'users/form/main', f: f
              .row
                .col-sm-6
                  = render 'users/form/birthday', f: f
                .col-sm-6
                  = render 'users/form/instagram', f: f
              = f.input :accept_terms, as: :boolean, label: t('common.accept_terms', link: link_to(t('common.terms_of_use_and_privacy'), page_path('terms-of-use', md: 1), data: { toggle: 'modal', target: '#common-modal' })).html_safe, required: true, input_html: { 'data-parsley-required-message' => I18n.t('activerecord.errors.models.user.attributes.accept_terms.blank') }
              = f.input :consent_check, as: :boolean, label: t('common.consent_check'), required: true, input_html: { 'data-parsley-required-message' => I18n.t('activerecord.errors.models.user.attributes.consent_check.blank') }
              .row
                .col-sm-6.col-sm-offset-6
                  = f.button :button, t('common.submit'), class: 'btn btn-primary btn-block'
