- content_for :sidebar do
  = render 'shared/sidebar'

.panel.panel-default
  .panel-heading
    = t('links.profile_photos')
  .panel-body
    = simple_form_for @user, html: { class: 'form-horizontal', 'data-parsley-validate' => true } do |f|
      #service-images.uploader-container
        = f.fields_for :service_images do |i|
          .upload-image-placeholder.profile-image-select{class: i.object.profile && 'active'}
            = image_tag i.object.file.url(:medium), alt: '', class: 'img-responsive'
            = i.check_box :profile
            .profile-image-status
              = fa_stacked_icon('check inverse', base: 'circle', class: 'fa-1x')

      .actions.text-center
        = f.button :button, t('common.save'), class: 'btn btn-primary btn-bordered'
