.container
  .panel.panel-default
    .panel-heading
      = link_to fa_icon('angle-double-left', text: t('common.back')), :back
    .panel-body
      .row
        .col-sm-6.col-sm-offset-1
          - if @user.profile_images.any?
            = render 'shared/slider', images: @user.profile_images
          - elsif @user.service_images.any?
            = render 'shared/slider', images: @user.service_images.limit(4)
          - else
            .user-avatar.text-center
              = image_tag avatar_url(@user, :medium), alt: @user.name, class: 'round'
        .col-sm-5
          - if @user.dancer?
            = render 'profile'
          - else
            %h2= @user.name

          %p
            %b #{t('common.description')}:
            %br
            = @user.description

  - if @testimonials && (count = @testimonials.count) > 0
    - show_count = 5
    .panel.panel-default
      .panel-body
        .row
          .col-sm-10.col-sm-offset-1
            %h4.text-center= t('common.feedback_received', count: count)
            #testimonials
              = render @testimonials[0..(show_count - 1)]
              - if count > show_count
                #testimonials-toggle.collapse
                  = render @testimonials[show_count..-1]
            - if count > show_count
              .text-right
                = link_to '#testimonials-toggle', data: { toggle: 'collapse' }, 'aria-expanded' => false do
                  %span.more= fa_icon 'angle-down', text: t('common.more')
                  %span.less= fa_icon 'angle-up', text: t('common.less')

  - if @user.dancer?
    .panel.panel-defult
      .panel-body
        %h4.text-center= t('.open_services')
        .row
          .col-sm-10.col-sm-offset-1
            - if @services.count > 0
              .thumbnail-grid-narrow
                .thumbnail-grid
                  = render partial: 'services/service', collection: @services
            - else
              %p.alert.alert-warning= t('.no_open_services')