- content_for :sidebar do
  = render 'shared/sidebar'

.panel.panel-default
  .panel-heading
    = t('.receiving_funds')
  .panel-body
    %p When we launch you will add your bank details here so you can get paid.
    
    #p When a client books you, we charge them and hold the money in escrow until after you have completed the engagement. Once the client has submitted your rating we release the funds to you.
    
    = f.input :routing_number, label: "Routing Number", required: true, input_html: { 'data-parsley-maxlength' => 50 }
    
    = f.input :account_number, label: "Account Number", required: true, input_html: { 'data-parsley-maxlength' => 50 }
    
    =# t('.siloette_uses_stripe').html_safe

    -# if current_user.payment_ready?
      %h3.text-success= t('.everything_setup')
      %p= t('.ready_to_receive_payment')
    -# else
      %h3= t('.connect_stripe')
      %p= t('.click_to_connect')
      = link_to t('.connect_stripe'), user_stripe_connect_omniauth_authorize_path, class: 'btn btn-primary'
