%section.jumbotron
  .overlay.bg-half-grey
  .container
    .row
      .col-sm-10.col-sm-offset-1
        .text-center
          %p= t('.launching_soon')
          %h1.text-light= t('.slogan')
          /%p= t('.description')
        .row
          .col-sm-6.col-sm-offset-3
            = link_to t('.browse_all_services'), search_path, class: 'btn btn-lg btn-primary btn-block text-uppercase'

- if @top_services.count > 0
  %section#top-services
    .container
      .panel.panel-default
        .text-center
          %h3= t('.top-services')
          .thumbnail-grid-wide
            .thumbnail-grid
              = render @top_services

%section#whats-new
  .container
    .row
      .col-sm-10.col-sm-offset-1
        .section-content.text-center
          %p.lead.text-light= t('.whats_new')
          %p.lead.text-light= t('.why')

%section#how-it-works
  .container
    .row
      .col-lg-12.text-center
        %h3.text-uppercase= t('.how_it_works.title')
        %br
    .row
      - 3.times do |i|
        - content = t('.how_it_works.content')[i]
        .col-sm-4.text-center
          .box
            = image_tag content[:image], alt: '', class: 'img-responsive'
            %h4= content[:title]
            %p.text-light.text-light-grey= content[:text]
    %hr.invisible

%section#performers
  .banner
    .overlay.bg-half-grey
      .container.text-center
        %h1.title= t('.safety&benefits')
        %p.lead.text-uppercase.text-light-grey= t('.for_performers')
  .container
    .row
      .col-sm-8.col-sm-offset-2
        .section-content.text-center
          %h2.text-light= t('.performers_first')
          %p.text-light= t('.performers_benefit')

%section#customers
  .banner
    .overlay.bg-half-grey
      .container.text-center
        %h1.title= t('.choice&transparency')
        %p.lead.text-uppercase.text-light-grey= t('.for_customers')
  .container
    .row
      .col-sm-8.col-sm-offset-2
        .section-content.text-center
          %h2.text-light= t('.choice')
          %p.text-light= t('.transparency')
    .row
      .col-sm-12
        = image_tag 'performance.jpg', alt: '', class: 'img-responsive'
    %hr.invisible