= render 'shared/googleapi'

- @image = { url: asset_path('main-bg.jpg'), width: 1280, height: 720 }

- content_for :meta_tags do
  %meta{name: 'robots', content: 'index, follow'}
  %meta{name: 'googlebot', content: 'index, follow'}

%section.jumbotron
  .overlay.bg-half-grey
  .container
    .row
      .col-sm-12
        .text-center
          %h1.text-uppercase= t('.slogan')
          %ul#categories.list-unstyled
            - @categories.each do |category|
              %li
                %span.btn.btn-trans= category.name
          %hr.invisible
          %p.text-uppercase= t('.description')
          %hr.invisible
        .row
          .col-sm-4.col-sm-offset-4
            = search_form_for @q, url: search_path, method: :get do |f|
              = f.hidden_field :location_id_eq
              = f.submit t('.browse_all_services'), class: 'btn btn-lg btn-primary btn-block text-uppercase'

- if @top_services.count > 0
  %section#top-services
    .container
      .panel.panel-default
        .text-center
          %h3= t('.top_services')
          .thumbnail-grid-wide
            .thumbnail-grid
              = render @top_services

%section#whats-new
  .container
    .row
      .col-sm-10.col-sm-offset-1
        .section-content.text-center
          %p.lead.text-light= t('.whats_new')
          %p.lead.text-light= t('.why')

%section#how-it-works


%section#customers
  .banner
    .overlay.bg-half-grey
      .container.text-center
        %h1.title= t('.choice&transparency')
        %p.lead.text-uppercase.text-light-grey= t('.for_customers')

  .container.section-content
    .row
      .col-sm-8.col-sm-offset-2
        .text-center
          %h2.text-light= t('.choice')
          %p.text-light= t('.transparency')
    .row
      - 3.times do |i|
        - content = t('.how_it_works.content')[i]
        .col-sm-4.text-center
          .box
            =# image_tag content[:image], alt: '', class: 'img-responsive'
            %h1= fa_icon content[:icon]
            %p.text-light= content[:text]
