%section.jumbotron
  .container
    .row
      .col-sm-5.col-sm-offset-6
        .text-center-m
          %h2.text-upper= t('.slogan')
          %p= t('.description')
        .row
          .col-sm-7
            = link_to t('.browse_all_services'), 'javascript: void(0);', class: 'btn btn-lg btn-primary btn-block text-upper'

%section#how-it-works
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading= t('.how_it_works.title')
        %p.lead= t('.how_it_works.description')
    .row
      - 4.times do |i|
        .col-lg-3.col-md-6.text-center
          .service-box
            %h1.text-primary= fa_icon t('.how_it_works.content')[i][:icon]
            %p.lead= t('.how_it_works.content')[i][:title]
            %p.text-muted= t('.how_it_works.content')[i][:text]
