- if params[:md].present?
  .modal-header
    %button.close(type='button' aria-hidden='true' data-dismiss='modal') &times;
    %h4.modal-title= @page.title
  .modal-body
    = @page.body.html_safe
- else
  - @title = @page.title
  - @description = first_words(@page.body, 99)
  - @url = page_url(@page)

  - content_for :meta_tags do
    %meta{name: 'robots', content: 'index, follow'}
    %meta{name: 'googlebot', content: 'index, follow'}

  %div{class: ('container' unless @page.legal? || @page.faq? || @page.for_dancer?)}
    %h4= @page.title
    = @page.body.html_safe

  - if @page.legal?
    - content_for :sidebar do
      = render 'legal_sidebar'
  - elsif @page.faq?
    - content_for :sidebar do
      = render 'faq_sidebar'
  - elsif @page.for_dancer?
    - content_for :sidebar do
      = render 'shared/sidebar'