- if params[:md].present?
  .modal-header
    %button.close(type='button' aria-hidden='true' data-dismiss='modal') &times;
    %h4.modal-title= @page.title
  .modal-body
    = @page.body.html_safe
- else
  - title = @page.title
  - description = first_words(@page.body, 99)
  - url = system_page_url(@page)

  - content_for :title do
    = title

  - content_for :meta_tags do
    %meta{name: 'title', content: title}
    %meta{name: 'description', content: description}
    %link{rel: 'canonical', href: url}
    %meta{property: 'og:title', content: title}
    %meta{property: 'og:description', content: description}
    %meta{property: 'og:url', content: url}
    %meta{name: 'twitter:card', content: 'summary'}
    %meta{name: 'twitter:site', content: '@silloete'}
    %meta{name: 'twitter:title', content: title}
    %meta{name: 'twitter:description', content: description}
    %meta{name: 'robots', content: 'index, follow'}
    %meta{name: 'googlebot', content: 'index, follow'}

  .container
    %h4= @page.title
    = @page.body.html_safe

  - if @page.for_dancer
    - content_for :sidebar do
      = render 'shared/sidebar'