.thumbnail-grid-item{:class => ("service-status-close" unless @service.open?)}
  .thumbnail-grid-inner
    = image_tag service.primary_image.file.url(:medium), alt: service.category, class: 'thumbnail-grid-image'
    .thumbnail-grid-overlay
      .overlay-top
        = service.category
        %br
        %small
          - if params[:scope].to_sym == :personal
            = price_with_unit(service)
          - elsif params[:scope].to_sym == :invited
            with #{performer_names_without_me(service)}

      .overlay-bottom
        .clearfix
          - case params[:scope].to_sym
          - when :personal
            .col-sm-6
              = link_to t('common.edit'), edit_performer_service_path(service), class: 'btn btn-sm btn-primary btn-block'
            .col-sm-6
              = link_to t('common.delete'), performer_service_path(service, service: { open: false }), method: :put, class: 'btn btn-sm btn-block btn-pink'
          - when :invited
            .col-sm-6
              = link_to t('common.accept'), accept_performer_service_invitation_path(service.id), class: 'btn btn-sm btn-primary btn-block'
            .col-sm-6
              = link_to t('common.decline'), decline_performer_service_invitation_path(service.id), class: 'btn btn-sm btn-block btn-pink'
          - when :performing
            .col-sm-12
              = link_to t('.leave_service'), performer_service_invitation_path(service.id), method: :delete, class: 'btn btn-sm btn-pink'
