- if @user.dancer?
  = render 'shared/googleapi'
  = render 'shared/twilio_account'

.row
  = f.input :first_name, label: false, input_html: { 'data-parsley-maxlength' => 50 }, wrapper_html: { class: 'col-sm-6' }
  = f.input :last_name, label: false, require: true, input_html: { 'data-parsley-maxlength' => 50 }, wrapper_html: { class: 'col-sm-6' }
.row
  = f.input :email, label: false, input_html: { data: { 'parsley-type' => :email, 'parsley-maxlength' => 50, 'parsley-remote' => check_email_api_users_path, 'parsley-remote-message' => t('activerecord.errors.models.user.attributes.email.taken') } }, wrapper_html: { class: 'col-sm-6' }
  - if @user.dancer?
    = f.fields_for :profile do |p|
      = p.input :country_code, as: :select, collection: country_code_collection, required: true, label: false, selected: country_code_value(p.object), prompt: t('common.select'), input_html: { class: 'country-code' }, wrapper_html: { class: 'col-sm-3 col-xs-6' }
      = p.input :phone_number, label: false, input_html: { data: { 'parsley-pattern' => parsley_pattern(:phonenumber), 'parsley-remote' => '', 'parsley-remote-validator' => 'twilio' } }, wrapper_html: { class: 'col-sm-3 col-xs-6' }
