- context ||= nil
- button_class = context && context == :mobile ? 'btn btn-primary btn-block' : nil

- if booking.viewable?
  %li= link_to fa_icon('eye', text: t('common.show')), customer_booking_path(booking), class: button_class
- if booking.editable?
  %li= link_to fa_icon('pencil', text: t('common.edit')), edit_customer_booking_path(booking), class: button_class
- if booking.may_cancel?
  %li= link_to fa_icon('close', text: t('common.cancel')), cancel_customer_booking_path(booking), class: button_class
- if booking.extendable?
  %li= link_to fa_icon('clock-o', text: t('common.extend')), new_customer_booking_booking_extension_path(booking), class: button_class
- if booking.destroyable?
  %li= link_to fa_icon('trash', text: t('common.delete')), customer_booking_path(booking, authenticity_token: form_authenticity_token), method: :delete, data: { confirm: 'Are you sure?' }, class: button_class
- if booking.may_complete?
  %li= link_to fa_icon('check', text: t('common.complete')), complete_customer_booking_path(booking, authenticity_token: form_authenticity_token), method: :post, class: button_class