- content_for :extra_script do
  :javascript
    window.closedDays = #{raw @performer.schedules.inactive.pluck(:wday).to_json};

- available_slots = @calendar.available_slots

= f.hidden_field :service_id, value: @service.id
= f.hidden_field :performer_id, value: @performer.id
= f.hidden_field :start_at, value: @start_at
= f.hidden_field :time_zone

.row
  .col-sm-6
    .calendar-datepicker
  .col-sm-6
    .today.text-center.triangle-isosceles
      - if @start_at == Date.today
        = t('common.today')
      = date_format(@start_at)

    - if available_slots.length > 0
      = f.input :start_time, as: :select, collection: time_slot_options(available_slots), required: true, prompt: t('common.select')
      = f.input :end_time, as: :select, collection: time_slot_options(available_slots), required: true, prompt: t('common.select')
    - else
      .alert.alert-warning= t('.not_available')

- if available_slots.length > 0
  .row
    .col-xs-3
      .form-group.text-center
        %label.control-label= t('simple_form.labels.booking.total')
        #booking-total.booking-price.text-danger
          %span.currency
            $
          %span.price
            = number_with_precision(@booking.total || @service.booking_price, precision: 2)
    .col-xs-3
      .form-group.text-center
        %label.control-label= t('simple_form.labels.booking.price_per_guest')
        #price-per-guest.booking-price.text-danger
          %span.currency
            $
          %span.price
            = number_with_precision((@booking.total || @service.booking_price) / f.object.number_of_guests, precision: 2)

    = f.input :number_of_guests, as: :select, collection: (1..20), prompt: t('common.select'), wrapper_html: { class: 'col-sm-6' }
  .row
    .col-sm-12
      = f.input :event_type_id, as: :select, collection: EventType.select(:id, :name), required: true, prompt: t('common.select')
      = f.input :venue_type_id, as: :select, collection: VenueType.select(:id, :name), required: true, prompt: t('common.select')
      = f.input :special_info, input_html: { rows: 5 }
