- content_for :extra_script do
  :javascript
    window.closedDays = #{raw @performer.schedules.inactive.pluck(:wday).to_json};
    window.availableSlots = #{@calendar.available_slots.to_json};

- available_slots = @calendar.available_slots

= f.hidden_field :service_id, value: @service.id
= f.hidden_field :performer_id, value: @performer.id
= f.hidden_field :start_at, value: @start_at
= f.hidden_field :time_zone

.row
  .col-sm-6
    .calendar-datepicker
  .col-sm-6
    .today.text-center.triangle-isosceles
      - if @start_at.to_date == user_time_zone.now.to_date
        = t('common.today')
      = date_format(@start_at.to_date)

    - if available_slots.length > 0
      = f.input :start_time, as: :select, collection: time_slot_options(available_slots), selected: @booking.new_record? ? nil : @booking.start_at.in_time_zone(user_time_zone).hour, required: true, prompt: t('common.select')
      = f.input :hours, as: :select, collection: (1..24), required: true, prompt: t('common.select')
    - else
      .alert.alert-warning= t('.not_available')

- if available_slots.length > 0
  .row
    = f.input :number_of_guests, as: :select, collection: (1..20), prompt: t('common.select'), wrapper_html: { class: 'col-sm-6' }
    .col-sm-3.col-xs-6
      .form-group.text-center
        %label.control-label= t('simple_form.labels.booking.total')
        #booking-total.booking-price.text-danger
          %span.currency
            $
          %span.price
            = number_with_precision(@booking.total || @service.booking_price, precision: 2)
    .col-sm-3.col-xs-6
      .form-group.text-center
        %label.control-label= t('simple_form.labels.booking.price_per_guest')
        #price-per-guest.booking-price.text-danger
          %span.currency
            $
          %span.price
            = number_with_precision((@booking.total || @service.booking_price) / f.object.number_of_guests, precision: 2)
  .row
    .col-sm-6
      = f.input :event_type_id, as: :select, collection: EventType.select(:id, :name), required: true, prompt: t('common.select')
    .col-sm-6
      = f.input :venue_type_id, as: :select, collection: VenueType.select(:id, :name), required: true, prompt: t('common.select')
  .row
    .col-sm-12
      = f.input :entry_instructions, label: t('activerecord.attributes.booking.entry_instructions'), input_html: { rows: 3 }
      = f.input :parking_instructions, label: t('activerecord.attributes.booking.parking_instructions'), input_html: { rows: 3 }
      = f.input :special_info, input_html: { rows: 3 }
