- address = @booking.address
- source = @booking.payment.try(:source)
- service = @booking.service

- content_for :sidebar do
  = render 'shared/sidebar'
  = render 'shared/service_image', service: service

.panel.panel-default
  .panel-heading
    = link_to fa_icon('angle-double-left', text: t('common.back')), :back
  .panel-body
    .row
      .col-sm-6
        %h4.text-light= t('common.booking_request')
        %h4= t('common.service_information')
        %p
          #{t('common.sevice_type')}: #{link_to service.title, service}
          %br
          #{t('common.performers')}: #{service.performers.map(&:name).join(', ')}
          %br
          #{t('common.date')}: #{date_format local_time(@booking.start_at)}
          %br
          #{t('common.start_time')}: #{time_format local_time(@booking.start_at)}
          %br
          #{t('common.duration')}: #{t('common.hours', count: @booking.hours)}
        %h4= t('common.customer_information')
        %address
          #{t('common.name')}: #{address.full_name}
          %br
          #{t('common.address')}: #{address.full_address}
          %br
          #{t('common.city')}: #{address.state_text}
          %br
          #{t('common.zip_code')}: #{address.zipcode}
          %br
          #{t('common.date_of_birth')}:

      .col-sm-6
        %h4.text-light #{t('common.referenece_number')}: <b>#{@booking.token}</b>
        %h4= t('.payment_infomation')
        %p
          = image_tag "cards/#{source.cc_type.downcase.gsub(/\s+/, '_')}.png", width: 32, alt: source.cc_type
          %span= t('common.ending_with', digits: source.last_digits)
        %h4= t('common.event_information')
        %p
          #{t('activerecord.attributes.booking.event_type')}: #{@booking.event_type}
          %br
          #{t('activerecord.attributes.booking.venue_type')}: #{@booking.venue_type}
          %br
          #{t('activerecord.attributes.booking.number_of_guests')}: #{@booking.number_of_guests}
          %br
          #{t('activerecord.attributes.booking.start_at')}: #{datetime_format local_time(@booking.start_at)}
          %br
          #{t('activerecord.attributes.booking.end_at')}: #{datetime_format local_time(@booking.end_at)}
          %br
          #{t('activerecord.attributes.booking.entry_instructions')}: #{@booking.entry_instructions}
          %br
          #{t('activerecord.attributes.booking.parking_instructions')}: #{@booking.parking_instructions}
          %br
          #{t('activerecord.attributes.booking.special_info')}: #{@booking.special_info}

    .row
      .col-sm-12
        - if mobile?
          %p
            %b= t('activerecord.attributes.booking.price')
            = number_to_currency @booking.service.booking_price
            %br
            %b= t('activerecord.attributes.booking.hours')
            = @booking.total_hours
            %br
            %b= t('common.total')
            = number_to_currency @booking.total_with_extensions
            %br
            %b= t('common.state')
            = t("activerecord.attributes.booking.states.#{@booking.state}")
            %br
            %b= t('common.payment_state')
            - if @booking.payment_state
              = t("activerecord.attributes.booking.states.#{@booking.payment_state}")

        - else
          %table.table.table-striped
            %thead
              %th= t('activerecord.attributes.booking.price')
              %th= t('activerecord.attributes.booking.hours')
              %th= t('common.state')
              %th= t('common.payment_state')
            %tbody
              %tr
                %td= number_to_currency @booking.service.booking_price
                %td= @booking.total_hours
                %td
                  %span.label.label-info= t("activerecord.attributes.booking.states.#{@booking.state}")
                %td
                  - if @booking.payment_state
                    %span.label.label-success= t("activerecord.attributes.booking.states.#{@booking.payment_state}")
              %tr
                %td.text-right(colspan='3')
                  %b= t('common.total')
                %td= number_to_currency @booking.total_with_extensions
