- @title = @post.title
- @description = first_words(@post.content, 99)
- @url = post_url(@post)

- content_for :meta_tags do
  %meta{name: 'robots', content: 'index, follow'}
  %meta{name: 'googlebot', content: 'index, follow'}

.container
  .post-title
    .title= @post.title
    %span.time-ago
      = fa_icon 'clock-o', text: "#{time_ago_in_words(@post.created_at)} ago"
    %span.post-author
      %em by
      #{@post.author.name}
  .post-content
    = @post.content.html_safe
