- if mobile?
  %li.booking
    %dl.dl-horizontal
      %dt= t('activerecord.attributes.booking.service')
      %dd= link_to booking.service.title, service_path(booking.service)
    %dl.dl-horizontal
      %dt= t('activerecord.attributes.booking.number_of_guests')
      %dd= booking.number_of_guests
    %dl.dl-horizontal
      %dt= t('activerecord.attributes.booking.address')
      %dd= booking.try(:full_address)
    %dl.dl-horizontal
      %dt= t('activerecord.attributes.booking.start_at')
      %dd= datetime_format local_time(booking.start_at)
    %dl.dl-horizontal
      %dt= t('activerecord.attributes.booking.hours')
      %dd= booking.total_hours
    %dl.dl-horizontal
      %dt= t('common.state')
      %dd= t("activerecord.attributes.booking.states.#{booking.state}")
    %dl.dl-horizontal
      %dt= t('common.payment_state')
      %dd
        - if booking.payment_state
          = t("activerecord.attributes.payment.states.#{booking.payment_state}")
    .actions
      %ul.list-unstyled
        = render 'booking_actions', booking: booking, context: :mobile
    %hr

- else
  %tr
    %td= link_to booking.service.title, service_path(booking.service)
    %td= booking.number_of_guests
    %td= booking.try(:full_address)
    %td= datetime_format local_time(booking.start_at)
    %td= booking.total_hours
    %td
      %span.label.label-info= t("activerecord.attributes.booking.states.#{booking.state}")
    %td
      - if booking.payment_state
        %span.label.label-success= t("activerecord.attributes.payment.states.#{booking.payment_state}")
    %td
      .btn-group.text-left
        %button.btn.btn-default.btn-sm.dropdown-toggle{type: 'button', 'data-toggle' => 'dropdown'}
          = fa_icon 'cog'
          %span.caret
        %ul.dropdown-menu.pull-right{role: 'menu'}
          = render 'booking_actions', booking: booking
