- content_for :sidebar do
  = render 'shared/sidebar'

- content_for :extra_script do
  :javascript
    window.closedDays = #{raw current_user.schedules.inactive.pluck(:wday).to_json};

.panel.panel-default
  .panel-heading
    = t('common.calendar')
  .panel-body
    .row
      .col-sm-6
        .calendar-datepicker
      .col-sm-6
        .today.text-center.triangle-isosceles
          - if @start_at.to_date == user_time_zone.now.to_date
            = t('common.today')
          = date_format(@start_at.to_date)

        - if (reservations = @calendar.reservations).count > 0
          %p.text-warning= t('.reserved')
          #reservations.clearfix
            - reservations.each do |reservation|
              .time-slot(data-id="#{reservation.id}")
                = time_format local_time(reservation.start_at)
                = link_to fa_icon('undo'), performer_reservation_path(reservation), method: :delete, remote: true, title: t('common.undo')
          %br

        %p.text-danger= t('.choose_to_reserve')
        = form_tag performer_reservations_path, method: :post do
          = hidden_field_tag :date, @start_at.to_date
          = hidden_field_tag :time_zone
          #available-slots.clearfix
            - available_slots = @calendar.available_slots
            - (0..23).each do |time|
              .time-slot(style="#{'display: none;' unless available_slots.include?(time)}" data-slot=time)
                = check_box_tag 'slots[]', time, nil, id: "slots_#{time}"
                %label(for="slots_#{time}")= slot_to_time(time)
          %br
          .actions.text-center
            = submit_tag t('.reserve'), class: 'btn btn-sm btn-warning'

    - if (bookings = @calendar.bookings).count > 0
      .row
        .col-sm-12
          %h4.text-center= t('common.bookings')
          %table.table.table-striped
            %thead
              %th= t('activerecord.attributes.booking.service')
              %th= t('activerecord.attributes.booking.number_of_guests')
              %th= t('activerecord.attributes.booking.address')
              %th= t('activerecord.attributes.booking.start_at')
              %th= t('activerecord.attributes.booking.hours')
              %th= t('common.state')
              %th= t('common.payment_state')
              %th
            %tbody
              = render bookings
