- address = @booking.address
- service = @booking.service

- content_for :sidebar do
  = render 'shared/sidebar'

.panel.panel-default
  .panel-heading
    = link_to fa_icon('angle-double-left', text: t('common.back')), :back
  .panel-body
    %h3 #{t('common.booking')} #{@booking.token}
    .row
      .col-sm-6
        %h4= t('common.address')
        %address
          = address.full_name
          %br
          = address.full_address
          %br
          = address.state_text
          %br
          = address.country.name
          %br
          = address.zipcode
        %h4= t('common.service')
        = render 'shared/service_image', service: @booking.service
      .col-sm-6
        %h4= t('common.information')
        %p
          %b= t('activerecord.attributes.booking.event_type')
          = @booking.event_type
          %br
          %b= t('activerecord.attributes.booking.venue_type')
          = @booking.venue_type
          %br
          %b= t('activerecord.attributes.booking.number_of_guests')
          = @booking.number_of_guests
          %br
          %b= t('activerecord.attributes.booking.start_at')
          = datetime_format local_time(@booking.start_at)
          %br
          %b= t('activerecord.attributes.booking.end_at')
          = datetime_format local_time(@booking.last_end_at)
          %br
          %b #{t('activerecord.attributes.booking.entry_instructions')}:
          %br
          = @booking.entry_instructions
          %br
          %b #{t('activerecord.attributes.booking.parking_instructions')}:
          %br
          = @booking.parking_instructions
          %br
          %b #{t('activerecord.attributes.booking.special_info')}:
          %br
          = @booking.special_info

    .row
      .col-sm-12
        - if mobile?
          %p
            %b= t('activerecord.attributes.booking.price')
            = number_to_currency @booking.service.booking_price
            %br
            %b= t('activerecord.attributes.booking.hours')
            = @booking.total_hours
            %br
            %b= t('common.total')
            = number_to_currency @booking.total_with_extensions
            %br
            %b= t('common.state')
            = t("activerecord.attributes.booking.states.#{@booking.state}")
            %br
            %b= t('common.payment_state')
            - if @booking.payment_state
              = t("activerecord.attributes.booking.states.#{@booking.payment_state}")

        - else
          %table.table.table-striped
            %thead
              %th= t('activerecord.attributes.booking.price')
              %th= t('activerecord.attributes.booking.hours')
              %th= t('common.state')
              %th= t('common.payment_state')
            %tbody
              %tr
                %td= number_to_currency @booking.service.booking_price
                %td= @booking.total_hours
                %td
                  %span.label.label-info= t("activerecord.attributes.booking.states.#{@booking.state}")
                %td
                  - if @booking.payment_state
                    %span.label.label-success= t("activerecord.attributes.booking.states.#{@booking.payment_state}")
              %tr
                %td.text-right(colspan='3')
                  %b= t('common.total')
                %td= number_to_currency @booking.total_with_extensions
