- title = @service.title
- description = @service.description
- url = system_service_url(@service)

- content_for :title do
  = title

- content_for :meta_tags do
  %meta{name: 'title', content: @service.title}
  %meta{name: 'description', content: description}
  %link{rel: 'canonical', href: url}
  %meta{property: 'og:title', content: @service.title}
  %meta{property: 'og:description', content: description}
  %meta{property: 'og:url', content: url}
  %meta{property: 'og:latitude', content: @service.lat}
  %meta{property: 'og:longitude', content: @service.lng}
  %meta{property: 'og:street-address', content: @service.address}
  %meta{property: 'og:locality', content: @service.country}
  %meta{property: 'og:region', content: @service.country}
  %meta{property: 'og:postal-code', content: @service.postal_code}
  %meta{name: 'twitter:card', content: 'summary'}
  %meta{name: 'twitter:site', content: '@services7'}
  %meta{name: 'twitter:title', content: @service.title}
  %meta{name: 'twitter:description', content: description}
  %meta{name: 'robots', content: 'index, follow'}
  %meta{name: 'googlebot', content: 'index, follow'}
  - if primary_image = @service.primary_image
    %meta{property: 'og:image', content: primary_image.file.url(:large)}
    %meta{property: 'og:image:width', content: '420'}
    %meta{property: 'og:image:height', content: '560'}
    %meta{name: 'twitter:card', content: 'photo'}
    %meta{name: 'twitter:image', content: primary_image.file.url(:large)}
    %meta{name: 'twitter:image:width', content: '420'}
    %meta{name: 'twitter:image:height', content: '560'}
  - if (images = @service.images).count > 0
    - images.each do |image|
      %meta{property: 'og:image', content: image.file.url(:medium)}
      %meta{property: 'og:image:width', content: '210'}
      %meta{property: 'og:image:height', content: '280'}
      %meta{name: 'twitter:card', content: 'photo'}
      %meta{name: 'twitter:image', content: image.file.url(:medium)}
      %meta{name: 'twitter:image:width', content: '210'}
      %meta{name: 'twitter:image:height', content: '280'}

- is_owner = @service.user == current_user

.container
  .panel.panel-default
    .panel-heading
      = link_to fa_icon('angle-double-left', text: t('common.back')), :back
    .panel-body
      .row
        .col-sm-6
          = render 'shared/slider', images: @service.images

        .col-sm-6
          .row
            .col-sm-7
              %h3.service-category.text-center.text-left-sm.no-top= @service.category
            .col-sm-5
              .service-score.text-center.text-right-sm{'data-score' => @service.rating}
          .row
            .col-xs-7
              %h4.service-price
                = humanized_money_with_symbol(@service.price)
                %small= t('common.per_hour')
            .col-xs-5.text-right
              - unless is_owner
                = link_to t('common.book'), 'javascript: void(0);', class: 'btn btn-primary'
          .row
            .col-sm-12
              = @service.description
              %p
              .service-location
                %b #{t('common.location')}:
                %span= @service.address
              %br
              - if (performers = @service.performers).count > 0
                %h5= t('.performers')
                %ul.performers.list-unstyled
                  - performers.each do |performer|
                    %li.performer
                      .performer-avatar
                        = image_tag avatar_url(performer), alt: '', size: '48x48', class: 'round'
                      .performer-name
                        = link_to performer.perform_name, system_user_path(performer)
              .clearfix
              %br
              - if is_owner
                %ul.list-unstyled
                  %li= link_to fa_icon('pencil', text: t('.edit_service')), edit_system_service_path(@service)
                  - if @service.open
                    %li= link_to fa_icon('lock', text: t('.close_service')), close_system_service_path(@service)
                  - else
                    %li= link_to fa_icon('unlock', text: t('.open_service')), open_system_service_path(@service)

